<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>webuploader</title>
</head>
<!--引入CSS-->
<link rel="stylesheet" type="text/css" href="webuploader.css">
<style>
    #upload-container, #upload-list{width: 500px; margin: 0 auto; }
    #upload-container{cursor: pointer; border-radius: 15px; background: #EEEFFF; height: 200px;}
    #upload-list{height: 800px; border: 1px solid #EEE; border-radius: 5px; margin-top: 10px; padding: 10px 20px;}
    #upload-container>span{widows: 100%; text-align: center; color: gray; display: block; padding-top: 15%;}
    .upload-item{margin-top: 5px; padding-bottom: 5px; border-bottom: 1px dashed gray;}
    .percentage{height: 5px; background: green;}
    .btn-delete, .btn-retry{cursor: pointer; color: gray;}
    .btn-delete:hover{color: orange;}
    .btn-retry:hover{color: green;}
</style>
<!--引入JS-->
<body>
<div id="upload-container">
    <span>点击或将文件拖拽至此上传</span>
</div>
<div id="upload-list">
    <!-- <div>
        <span>文件名：123</span>
        <span data-file_id="">删除</span>
        <span data-file_id="">重试</span>
        <div></div>
    </div> -->
</div>
<button id="picker" style="display: none;">点击上传文件</button>
</body>
<script src="http://lib.sinaapp.com/js/jquery/2.0.2/jquery-2.0.2.min.js"></script>
<script src="webuploader.js"></script>
<script>
    $('#upload-container').click(function(event) {
        $("#picker").find('input').click();
    });
    var md5;
    // WebUploader提供的钩子（hook），在文件上传前先判断服务是否已存在这个文件
    WebUploader.Uploader.register({
        'before-send-file': 'beforeSendFile' //整个文件上传前
    },
    {
        beforeSendFile: function( file ) {
            var that = this;
            var deferred = WebUploader.Deferred();
            //计算md5
            uploader.md5File(file)
                .progress(function (percentage) {//及时显示进度
                    console.log("percentage:",percentage)
                })
                .then(function (value) { //完成
                    md5 = value;
                    //上传前请求服务端,判断文件是否已经上传过
                    console.log("md5=:",md5);
                    $.post("http://localhost:8080/checkFileExist", { md5:md5 },
                        function(data){
                            if (data == '1') {
                                //跳过如果存在则跳过
                                that.owner.skipFile( file );
                                alert("文件已存在，无需上传！");
                            }
                            // 继续后面行为
                            deferred.resolve();
                        });
                });
            return deferred.promise();
        }
    });



    var uploader = WebUploader.create({
        auto: true,// 选完文件后，是否自动上传。
        swf: 'Uploader.swf',// swf文件路径
        server: 'http://localhost:8080/fileUpload',// 文件接收服务端。
        dnd: '#upload-container',
        pick: '#picker',// 内部根据当前运行是创建，可能是input元素，也可能是flash. 这里是div的id
        multiple: true, // 选择多个
        chunked: true,// 开起分片上传。
        threads: 5, // 上传并发数。允许同时最大上传进程数。
        method: 'POST', // 文件上传方式，POST或者GET。
        fileSizeLimit: 1024*1024*1024*100*100, //验证文件总大小是否超出限制, 超出则不允许加入队列。
        fileSingleSizeLimit: 1024*1024*1024*100, //验证单个文件大小是否超出限制, 超出则不允许加入队列。
        chunkSize:100*1024*1024, //分片上传，每片2M，默认是5M
        fileVal:'upload', // [默认值：'file'] 设置文件上传域的name。
    });

    // 当有文件被添加进队列的时候（选择文件后调用）
    uploader.on('fileQueued', function(file) {
        // 选中文件时要做的事情，比如在页面中显示选中的文件并添加到文件列表，获取文件的大小，文件类型等
        console.log(file.ext) // 获取文件的后缀
        console.log(file.size) // 获取文件的大小
        console.log(file.name);
        var html = '<div><span>文件名：'+file.name+'</span><span data-file_id="'+file.id+'">删除</span><span data-file_id="'+file.id+'">重试</span><div class="percentage '+file.id+'" style="width: 0%;"></div></div>';
        $('#upload-list').append(html);

        //计算md5
        // uploader.md5File(file)
        //     .progress(function (percentage) {//及时显示进度
        //         console.log("percentage:",percentage)
        //     })
        //     .then(function (value) { //完成
        //         console.log("md5 result:",value);
        //     });


    });

    // 文件上传过程中创建进度条实时显示。
    uploader.on('uploadProgress', function(file, percentage) {
        console.log(percentage * 100 + '%');
        var width = $('.upload-item').width();
        $('.'+file.id).width(width*percentage);
    });

    // 文件上传成功后会调用
    uploader.on('uploadSuccess', function(file, response) {
        console.log(file.id+"传输成功");
    });

    // 文件上传失败后会调用
    uploader.on('uploadError', function(file) {
        console.log(file);
        console.log(file.id+'upload error')
    });


    $('#upload-list').on('click', '.upload-item .btn-delete', function() {
        // 从文件队列中删除某个文件id
        file_id = $(this).data('file_id');
        // uploader.removeFile(file_id); // 标记文件状态为已取消
        uploader.removeFile(file_id, true); // 从queue中删除
        console.log(uploader.getFiles());
    });


    $('#upload-list').on('click', '.btn-retry', function() {
        uploader.retry($(this).data('file_id'));
    });

    // 文件上传完毕后会调用（不管成功还是失败）
    uploader.on('uploadComplete', function(file) {
        console.log(uploader.getFiles());
    });
</script>
</html>